# etcd-svc
apiVersion: v1
kind: Service
metadata:
  name: etcd-client
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "MSM.labels" . | nindent 4 }}
spec:
  ports:
    - name: etcd-client
      port: 2379
      protocol: TCP
      targetPort: 2379
  selector:
    app: etcd
---
apiVersion: v1
kind: Service
metadata:
  name: etcd
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "MSM.labels" . | nindent 4 }}
spec:
  clusterIP: None
  ports:
    - port: 2379
      name: client
    - port: 2380
      name: peer
  selector:
    app: etcd
